<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="BuildFlow"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BuildFlow2">
        <activity
            android:name=".view.activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.JoinProjectActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.AddProjectActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.CreateNewProjectActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.ProjectViewActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.ChooseProjectActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>